.header {
  font-size: 25px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
}


.skill {
  /* border: 1px solid black; */
  padding: 5px;
  display: flex;
  justify-content: space-between;
}